##### <img src=https://upload.wikimedia.org/wikipedia/commons/b/b0/Logo_Universidad_Polit%C3%A9cnica_Salesiana_del_Ecuador.png width="80%">

<div style="color:#3c4d5a; border-top: 7px solid #42A5F5; border-bottom: 7px solid #42A5F5; padding: 5px; text-align: center; text-transform: uppercase"><h1>CARRERA DE COMPUTACIÓN <br><br>Interpreting Neural Networks - The Deep Learning Architect´s Handbook, PACKT</h1></div>

Desarrollado por: Kaar Joseph Mashingashi Unkuch, Tania Lilibeth Lojano Guzmán. Correo de contacto: kaarunkuch@gmail.com, lojanotania08@gmail.com

<h4>Objetivo</h4> <br>

<ol>
    <li> Selecciona y desarrolla algoritmos de aprendizaje automático de acuerdo a la problemática</li> 
</ol>

In [1]:
#Importación de módulos
import pandas as pd
import copy
import numpy as np
print('Módulos importados')

Módulos importados

In [2]:
#Carga del dataset
dfOriginal = pd.read_csv("students_mental_health_survey.csv", low_memory=False, sep=',', index_col=False, nrows=10000)
#Se reemplaza los NAN por el valor más frecuente (la moda) en cada columna (es decir, en cada variable)
dfOriginal = dfOriginal.fillna(dfOriginal.mode().iloc[0])
print(dfOriginal.shape)
dfOriginal.head(10)

(7022, 20)

,Age,Course,Gender,CGPA,Stress_Level,Depression_Score,Anxiety_Score,Sleep_Quality,Physical_Activity,Diet_Quality,Social_Support,Relationship_Status,Substance_Use,Counseling_Service_Use,Family_History,Chronic_Illness,Financial_Stress,Extracurricular_Involvement,Semester_Credit_Load,Residence_Type
0,25,Others,Male,3.56,3,3,2,Good,Moderate,Good,Moderate,Married,Never,Never,No,No,2,Moderate,17,On-Campus
1,24,Engineering,Female,2.44,0,3,0,Average,Low,Average,Low,Single,Occasionally,Occasionally,No,No,3,Low,27,On-Campus
2,19,Business,Female,3.74,4,0,3,Good,Low,Average,Moderate,In a Relationship,Never,Occasionally,No,No,4,High,15,On-Campus
3,19,Computer Science,Male,3.65,2,1,0,Average,Low,Average,Moderate,Single,Never,Never,No,No,4,Moderate,20,Off-Campus
4,18,Business,Male,3.40,3,3,4,Good,Low,Average,High,Married,Never,Never,No,Yes,0,High,23,On-Campus
5,21,Medical,Female,3.35,2,4,3,Good,Moderate,Good,High,Single,Never,Never,No,No,5,Moderate,19,Off-Campus
6,18,Law,Male,3.65,2,2,5,Good,Moderate,Average,Moderate,Single,Never,Never,No,No,4,Moderate,20,Off-Campus
7,21,Business,Female,3.40,0,3,3,Average,Low,Average,Low,Married,Never,Never,Yes,No,3,Moderate,23,On-Campus
8,24,Medical,Male,3.80,3,2,1,Poor,Low,Average,Moderate,Single,Frequently,Never,Yes,No,2,Low,28,On-Campus
9,19,Engineering,Female,3.05,2,5,0,Average,Moderate,Good,Low,In a Relationship,Never,Occasionally,Yes,No,1,Moderate,27,Off-Campus

In [3]:
import pandas as pd

# Cargar el archivo CSV especificando el delimitador de tabulador
data = pd.read_csv('data123.csv', delimiter='\t')

# Mostrar las primeras filas del dataset
data.head(10)

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,screensize,uniquenetworklocation,hand,religion,orientation,race,voted,married,familysize,major
0,4,28,3890,4,25,2122,2,16,1944,4,...,1,1,1,12,1,10,2,1,2,NaN
1,4,2,8118,1,36,2890,2,35,4777,3,...,2,1,2,7,0,70,2,1,4,NaN
2,3,7,5784,1,33,4373,4,41,3242,1,...,2,1,1,4,3,60,1,1,3,NaN
3,2,23,5081,3,11,6837,2,37,5521,1,...,2,1,2,4,5,70,2,1,5,biology
4,2,36,3215,2,13,7731,3,5,4156,4,...,2,2,3,10,1,10,2,1,4,Psychology
5,1,18,6116,1,28,3193,2,2,12542,1,...,2,1,1,4,1,70,2,1,4,NaN
6,1,20,4325,1,34,4009,2,38,3604,3,...,2,1,1,7,2,60,2,1,4,Mechatronics engeenerieng
7,1,34,4796,1,9,2618,1,39,5823,1,...,2,1,1,2,2,60,1,1,2,Music
8,4,4,3470,4,14,2139,3,1,11043,4,...,1,1,1,12,2,70,2,1,4,Psychology
9,3,38,5187,2,28,2600,4,9,2015,1,...,2,1,1,2,2,60,2,1,3,computer programming

In [4]:
print(data.shape)

(39775, 172)

In [18]:
# Información general del dataset
df.info()

# Estadísticas descriptivas
df.describe()

# Comprobar valores nulos
df.isnull().sum()

# Visualizar la distribución de algunas variables clave
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
sns.histplot(df['Age'], bins=20, kde=True)
plt.title('Distribución de Edad')
plt.show()

plt.figure(figsize=(10, 6))
sns.histplot(df['Depression'], bins=20, kde=True)
plt.title('Distribución de Puntuaciones de Depresión')
plt.show()

plt.figure(figsize=(10, 6))
sns.histplot(df['Anxiety'], bins=20, kde=True)
plt.title('Distribución de Puntuaciones de Ansiedad')
plt.show()

plt.figure(figsize=(10, 6))
sns.histplot(df['Stress'], bins=20, kde=True)
plt.title('Distribución de Puntuaciones de Estrés')
plt.show()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6982 entries, 0 to 6981
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    6972 non-null   object
 1   label   6980 non-null   float64
dtypes: float64(1), object(1)
memory usage: 109.2+ KB

KeyError: 'Age'

In [17]:
import pandas as pd

# Cargar el dataset de Excel
df = pd.read_excel('archive exc/dataset.xlsx')

# Mostrar las primeras filas del dataset
df.head()

                                                text  label
0                                         oh my gosh    1.0
1  trouble sleeping, confused mind, restless hear...    1.0
2  All wrong, back off dear, forward doubt. Stay ...    1.0
3  I've shifted my focus to something else but I'...    1.0
4  I'm restless and restless, it's been a month n...    1.0

<div id="Fundamentos" style="color:#37475a; border-bottom: 7px solid orange; width: 100%; margin-bottom: 15px; padding-bottom: 2px"><h2>Conclusiones</h2></div>

<div id="Fundamentos" style="color:#37475a; border-bottom: 7px solid orange; width: 100%; margin-bottom: 15px; padding-bottom: 2px"><h2>Referencias</h2></div>